@charset "utf-8";
ul {margin:0;padding:0}
ul li{list-style:none}
.table{width:100%;height:100%;background: #F2FAF1;font-size:14px;}
.top{width:100%;height:25px;line-height:26px;background:url(../images/play_bg.png) 0px -1px;font-weight:bold}
.top span{float:right;padding-right:5px;color:#999}
.footer{width:100%;height:24px;background:url(../images/play_bg.png) 0px -1px;z-index:9999;}
a {font-size: 14px;color: #666666;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}
.list{width:150px;padding-left:5px;scrollbar-face-color: #DBEBFE; scrollbar-shadow-color: #B8D6FA; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #DBEBFE; scrollbar-darkshadow-color:#458CE4; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #458CE4}
.list ul{ clear:both;}
.list li{ height:21px; line-height:21px;}
.list li a{background:url(../images/top13.gif) no-repeat 2px 5px;padding-left:25px;display:block;}
.list_on{color:#FF0000}
.expand{background:url(../images/play_bg.png) 0px -1px;cursor:pointer;padding:3px 0px;margin-bottom:6px;font-weight:bold;}
.expand .title{ padding-left:15px;}
.expand_on{background:url(../images/play_bg.png) 0px -1px;cursor:pointer;padding:3px 0px;margin-bottom:6px;font-weight:bold;color:#FF0000}
.expand_sub{ border:1px solid #EEEEEE; margin-top:-6px; margin-bottom:5px; background:#FFFFFF}