/* ===================== 样式重置 ===================== */
@charset "utf-8";
html { overflow-y:scroll; overflow-x:auto; }
body { margin:0; color:#6c6c6c; font:12px/21px "宋体"; }
ul, ol, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input { margin:0; padding:0; }
img, fieldset { border:none; }
li { list-style:none; }
select, input, img { vertical-align:middle; }
select, input, textarea { font-size:12px; }
a { color:#010101; text-decoration:none; }
a:hover { color:#4c7d08; text-decoration:underline; }
div, ul, dl { zoom:1; }
div:after, ul:after, dl:after { content:"."; display:block; clear:both; height:0; visibility:hidden; }
.fRed { color:#ec6022; font-weight:normal; font-family:Tahoma; }
.fRed strong { font:24px/24px Tahoma !important; color:#ec6022 !important; }
.fBlack { color:#000; }
.f14 { font-size:14px; }
strong { color:#000; }
.fOrange, a.fOrange:hover { color:#ec6022; }
.fGray { color:#d0d0d0 !important; }
.man{background:url(man.jpg) -2px 2px no-repeat;width:18px;height:18px; vertical-align:top; display:inline-block;}

.ad705-60{width:705px;height:100%;overflow:hidden;border-top:10px solid #fff;}
/* 邀请好友，小图标 */
.noPic{background:#010101 url(noPic.gif) center center no-repeat;} /* 缺图样式 */
/* ===================== 板块定义 ===================== */
.wrap { width:970px; margin:0 auto; }
/* 电视剧 */
.dsjsy .flash{margin-top:10px;}
.dsjsy .m705first{margin-top:0;}

/* 电影 */
/*.dysy .flash{margin-top:5px;}*/


/* 综艺 */
/*.zysy .flash{margin-top:10px;}*/

/* 纪录片 */
.jlpsy #flash{margin-top:5px;}
.jlpsy .searchDl { width:840px; height:auto; padding:10px; background:none; }
.jlpsy .searchDl dd { word-spacing:20px; }
.jlpsy .fRight { float:right; width:80px; margin-top:-31px; position:relative; }
.jlpsy .m250{overflow:hidden;}/* 纪录片右侧折行，临时解决方案 */
/* 首页级导航 */
.navLogo { font:bold 14px/21px "微软雅黑"; height:56px; padding-top:7px; }
.navLogo span { font-weight:normal; color:#c8c8c8; }
.navLogo img { vertical-align:baseline; margin-right:8px; margin-bottom:-10px; }
.navForm { margin-top:-30px; float:right; color:#dfdfdf; position:relative; z-index:5; zoom:1; }
.navFormList { position:absolute; width:265px; background:#fff; border:1px solid #808080; right:51px; top:24px; line-height:23px; font-size:14px; }
.navFormList a, .navFormList a:hover { display:block; padding:0 5px; zoom:1; background:#fff; color:#000; text-decoration:none; }
.navFormList a.a1, .navFormList a.a1:hover { background:#e7e7e7; }
.navInput { background:url(searchBg.png) 0 -80px repeat-x; }
.navInputText { width:256px; height:15px; padding:5px; border:none; border-left:1px solid #cbcbcb; margin-left:10px; margin-right:-6px;}
.navInputBtn { background-position:0 0; width:52px; height:25px; border:none; cursor:pointer; }
.navInputBtn_ { background-position:0 -40px; width:52px; height:25px; border:none; cursor:pointer; color:#fff; }
/* 头部搜索区域 */
.search { background:url(Bg11.png) 0 0 repeat-x #ebebeb; border:1px solid #cecece; margin-top:10px; }
.searchT { width:74px; float:left; padding:0 10px; line-height:40px; text-align:center; }
.searchTBg { display:block; width:74px; height:45px; font:bold 14px/16px "微软雅黑"; text-align:center; background:url(dyjs.png) 0 0 no-repeat; margin:-5px 0; position:relative; color:#fff; padding-top:8px; }
.searchDl { float:left; background:url(lineBg.gif) 0 center no-repeat; height:85px; padding:15px 25px 0 30px; line-height:23px; }
.searchDl dt { color:#000; font-weight:bold; }
.searchDl dd { word-spacing:10px;height:50px;overflow:hidden; }
.searchDl dd a{display:inline-block;}
/* 头部信息 */
.topInfo { position:relative; z-index:2; background:url(navBg1.png) 0 0 repeat-x #808080; line-height:33px; height:33px; text-align:right; }
.navList { float:left; padding-left:2px; }
.navList a { float:left; display:inline; padding:0 17px 0 15px; background:url(navLineBg1.png) right center no-repeat; font-size:14px; color:#fff; }
.navList a:hover { color:#e7e7e7; text-decoration:none; }
.navList a.curLink{ background:url(navBg1.png) 0 -40px repeat-x; padding:0 25px; font-weight:bold; margin-left:-2px; }



.qs .qsLink:hover, .dysy .dyLink:hover, .dsjsy .dsjLink:hover, .jlpsy .jlpLink:hover, .zysy .zyLink:hover { color:#fff; text-decoration:none; }
.topInfoC { float:right; padding-right:10px; color:#aaa; }
.topInfoC a, .topInfoC a:hover { color:#fff; }
.topInfoC a.a1, .topInfoC a.a2 { display:inline-block; padding-right:15px; width:101px; text-align:center; position:relative; z-index:3; vertical-align:middle; }
.topInfoC a.a1 { background:url(iconBg2.png) right -31px no-repeat; }
.topInfoC a.a2, .topInfoC a.a2:hover { background:url(topbg.png) 0 1px no-repeat; height:31px; color:#000; line-height:29px; text-decoration:none; }
.topC { top:32px; position:absolute; text-align:left; }
.topCBg { background:#fffff0; border:solid #ddca7f; border-width:1px 1px 0; padding:8px 0; line-height:21px; z-index:2;position:relative; }
.topCBottomBg { background:url(topBottomBg.png) bottom no-repeat; margin:-1px; height:9px; font-size:0; position:relative; }
.topC p { margin:0 10px; line-height:25px; }
.topC .pRight { text-align:right; }
.topC .pCenter { text-align:center; position:relative; z-index:2; margin-bottom:-1px; }
.topC .pCenter a { background:url(biaoqing.png) 0px 20px no-repeat; display:inline-block; width:30px; height:42px; line-height:200px; overflow:hidden; vertical-align:top; margin:0 6px; }
.topC .pCenter a:hover { font-weight:bold; color:#4a7f07; background:url(array.gif) 0 bottom no-repeat; line-height:36px; text-decoration:none; }
.topC a.jixuLink { color:#589c03; text-decoration:underline; }
.topC a.jixuLink:hover { color:#4a7f07; }
#topTT1 { background-position:0 0; }
#topTT2 { background-position:-48px 0; }
#topTT3 { background-position:-99px 0; }
#topTT4 { background-position:-148px 0; }
.selected#topTT1 { background-position:0 -50px; }
.selected#topTT2 { background-position:-48px -50px; }
.selected#topTT3 { background-position:-99px -50px; }
.selected#topTT4 { background-position:-148px -50px; }
.topC .pCenter a.selected:hover{background-position:0 bottom !important;}
.topC_ulList { padding:0 5px; margin:0 5px; }
.topC_ulList li { border-bottom:1px solid #ece8d0; padding:5px 0; line-height:18px; padding-left:18px; }
.topC .topCUl { padding:12px 5px; border-top:1px solid #ddca7f; margin:0 7px; }
.topC .topCUl li { border-bottom:1px solid #ece8d0; padding:5px 0; line-height:18px; padding-left:18px; }
.topC1 { height:260px; }
.topC1 .topC_ulList { overflow-x:hidden; overflow-y:scroll; height:230px; }
.shutdown { background:url(shutdown.gif) 6px 4px no-repeat; width:18px; height:18px; display:inline-block; vertical-align:middle; margin-left:-21px; display:inline; float:left; }
.shutdown:hover { background-position:6px -67px; }
.dyBofang { width:12px; height:21px; float:left; background:url(dyBofang.gif) 0 4px no-repeat; margin-left:-15px; display:inline; }
.dsBofang { width:12px; height:21px; float:left; background:url(dsBofang.gif) 0 4px no-repeat; margin-left:-15px; display:inline; }
#topC1 { width:223px; right:115px; }
#topC2 { width:223px; right:0; }
/* 主内容 */
.mBg1 { background:url(mBg1.gif) 0 0 repeat-y; margin-top:10px; }
.mBg1BottomBg { background:url(mBg1.gif) -970px bottom no-repeat; height:1px; clear:both; font-size:0; }
.m705 { float:left; width:705px; }
.m705first { margin-top:-10px; }
.m705C { border-bottom:1px solid #dfdfdf; border-top:10px solid #fff; }
.m705a { border-top:10px solid #fff; }
.first { border-top:none; }
.last { border-bottom:none; }
.m250 { float:right; width:250px; }
/* 标题 */
.title { line-height:60px; background:url(m705Bg.png) 0 0 repeat-x; margin:0 1px; padding:0 40px 0 30px; height:60px;overflow:hidden; }
.title h2 { float:left; padding-top:20px; }
.more { float:right; }
.phbTitle { height:27px; background:url(titleBg.png) 0 -80px repeat-x; border:solid #dfdfdf; border-width:1px 0 0 0px; margin:0 1px; clear:both; }
#mvindex_{height:430px;}
.phbTitle h2 { float:left; width:90px; font:14px/26px "微软雅黑"; color:#000; text-align:center; }
.phbTitle span { font:12px/27px normal;display:block; border:solid #e3e3e3; border-width:0 1px; margin-left:-1px; color:#000; float:right; cursor:pointer;border-width:0 1px; width:34px; text-align:center;line-height:27px; }
.phbTitle span.selected { color:#4c7e07; background:#fff;display:block; height:27px;line-height:26px;font-weight:bold; }

/* 列表 */
.ulList { padding:0 15px 0px; }
.ulList li { text-align:center; }
.ulList li img { display:block; margin:0 auto 5px; }
.ulList li .imgBg1 { zoom:1; }
.ulList li strong { font:14px/21px "宋体"; }
.r4 li { float:left; width:25%; }
.r5 li { float:left; width:20%;height:183px;overflow:hidden; }
/* 评分榜 */
.pfbItem { padding:15px 11px 0; }
.pfbItem ol { background: url(numBg1.png) 0 130px no-repeat #fff; }
.pfbItem ol li { clear:both; text-indent:25px; text-align:right; line-height:25px; height:25px; overflow:hidden; padding-right:8px; border-bottom:1px solid #f3f3f3; }
.pfbItem ol li a { float:left; }
.pfbItem .li1 { height:125px; text-align:left; text-indent:0; line-height:22px; padding-right:0; overflow:hidden; margin-right:-10px; }
.pfbItem .li1 a { float:none; }
.pfbItem .li1 .imgBg1 { float:left; position:relative; }
.pfbItem .li1 .num1 { background:url(icon.gif) 0 0 no-repeat; width:20px; height:31px; position:absolute; display:block; left:0; top:0; }
.pfbItem .li1 img { float:left; margin-right:7px; }
.pfbItem strong { font:bold 14px/25px normal; }
.pfbItem p { text-align:right; padding:0 15px 5px; font:11px/21px Tahoma; }
/* 图文 */
.tw { padding:0 30px 24px; }
.tw img { float:left; margin-right:10px; }
.tw .imgBg1 { float:left; }
.twC { overflow:hidden; }
.twC strong { font:18px/21px "微软雅黑"; margin-right:10px; }
.twC strong, .twC strong a { color:#4a7f07; }
.twC strong a:hover { color:#589c03; }
.w50p { width:305px; float:left; padding:0 0 15px 30px; }
.w50p table{ margin:7px 0 0 0; }
/* 表格 */
.table1 { width:100%; margin:4px 0; }
.table1 td { vertical-align:top; }
.table1 .table1Td { text-align:right; padding-right:10px; }
/* 其他 */
.imgBg1 img { padding:4px; border:1px solid #dcdcdc; }
a.imgBg1:hover img { border:1px solid #83bb48; }
a.imgBg1:hover { text-decoration:none; }
.imgBg1Bg { background:#000; filter:alpha(opacity=60); opacity:0.6; height:18px; margin:-28px auto 0; display:block; width:95px; position:relative; }
.imgBg1C { margin-top:-18px; line-height:18px; color:#fff; text-align:center; display:block; position:relative; font-size:12px; height:28px; *height:29px;
}

.space102 { height:60px; background:#fff; font-size:0; line-height:0; border-top:1px solid #e3e3e3; clear:both;padding:10px 0;}
/* 标准尾 */
.footer { line-height:20px; text-align:center; padding:20px 0 40px; margin-top:15px; background:url(footerBg.png) 0 0 no-repeat; clear:both; }
.footer, .footer a { color:#6b6b6b; }
.footer a:hover { color:#4c7d08; }
.fEn { font-family:Arial; }
/* 打分样式一 分数显示 */
.dafen3 { text-align:right; margin-top:-25px; height:21px; height:29px; }
.dafen3 span { display:inline-block; vertical-align:middle; }
.fenshu3, .dafenBg3 { width:63px; height:16px; background:url(star.png) 0 -130px no-repeat; }
.dafenBg3 { width:78px; background-position:0 -160px; text-align:left; }
.dafen3 strong { font:20px/20px Tahoma !important; }
